body {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #212121;
    flex-direction: column;
}

.navbar {
    flex: 1;
    background-color: #333;
    color: #f0f0f0;
    padding: 0.5em;
    height: 100%;
    overflow: none;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 11vw;
    z-index: 9999;
}

.navbar img {
    width: 10vw;
    max-height: auto;
    margin-top: 5vh;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire area */
    transition: transform 0.3s ease;
}
.navbar svg{
    transition: transform 0.3s ease;
}
.navbar svg:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.1em #f2f2f2);
    cursor: pointer;
}

.navbar img:hover {
    transform: scale(1.01);
    box-shadow: 0 0 0.5em #f2f2f2;
    cursor: pointer;
}

.navbar p {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75vw;
    object-fit: contain;
}
.navbar h2 {
    font-size: 1.5vw;
}
.hiddenlinks a {
    display: none;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categoryBox {
    flex: 1 0 0.5em; /* Grow and shrink, basis */
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: none;
    color: #f2f2f2;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
}

.categoryBox:hover {
    transform: scale(1.01);
    background-color: #ee4c4f;
    color: #f2f2f2;
    box-shadow: 0 0 0.5em #f2f2f2;
    cursor: pointer;
}

.content {
    margin-left: 13vw;
    width: calc(100vw - 15vw); /* Set the width to the width of the viewport minus the width of the navbar */
    min-width: 500px;
    height: 100%; /* Set the height to the height of the viewport */
    flex: 1 0 auto;
}

code{
    font-size: 1.05em;
}

.blog-post {
    margin: 1em;
    padding: 1em;
    background-color: #2b2b2b;
    box-shadow: none;
    color: #f2f2f2f2;
}
.blog-post strong{
    margin-left: 1;
    margin-left: 0.25em;
}
#blogContainer .blog-post {
    transition: transform 0.3s ease;
}

#blogContainer .blog-post:hover{
    transform: scale(1.01);
    box-shadow: 0 0 0.5em #f2f2f2;
    cursor: pointer;
}

.blog-post img {
    width: 75%;
    height: auto;
    margin: 0.5em 0;
    display: block;
    object-fit: cover;
    padding: 0.5em;
}

.blog-post h3 {
    margin: 1;
    margin: 0.25em;
    font-size: 2.2em;
    color: #ee4c4f;

}
 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    color: #f2f2f2f2;
}
 h1 {
    font-size: 2.5em;
    color: #ee4c4f;
    margin: 0;
}
.code {
    background-color: #434343; /* Slightly lighter than white */
    color:#f2f2f2;
    font-family: 'Consolas', monospace;
    font-size: 1.25em;
    padding: 0.5em;
    display: block;
    white-space: pre;
}

.blog-post p, .blog-post ul {
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
    overflow: none;
    word-wrap: break-word;
    margin-left: 1em;
}

time {
    margin: 0;
    color: #f2f2f2f2;
}

.banner {
    color: #f2f2f2f2;
    padding: 0.5em;
    margin: 0.5em auto;
    font-family: monospace;
    font-size: 1.15em;
    height: auto;
}
.social {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}
.social svg {
    padding: 0.25em;
    width: 2vw;
    height: auto;
}
.content table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em auto;
    text-align: auto;
}

.content table th {
    background-color: #ee4c4f; 
}

.content table tr {
    border: 0.05em solid #f2f2f2; 
}

.content table tr:nth-child(even) {
    background-color: #ee4c4f5e; 
}


.footer p {
    color: #f2f2f2;
    text-align: center;
}

#Recommended-Post {
    padding: 20px; /* Add padding to the entire section */
    background-color: #2b2b2b; /* Set a background color */


}

#Recommended-Post h2 {
    margin-bottom: 20px; /* Add some space below the title */
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap;
    margin: 1em;
}

#Recommended-Post a {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 10px; /* Add padding to each post container */
    margin-right: 20px; /* Add some space between the containers */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    width: 300px; /* Set a fixed width for each container */

    text-decoration: none; /* Remove underline from links */
    color: #f2f2f2;
}

#Recommended-Post a h3 {
    margin: 0 0 10px 0; /* Add some space below the subtitle */
    font-size: 1.5em; /* Increase the font size */
    color: #ee4c4f; /* Change the text color */
}

#Recommended-Post a p {
    margin: 0; /* Remove default margin */
    font-size: 1em; /* Set the font size */
    color: #f2f2f2; /* Change the text color */
    font-style: italic;
}

#Recommended-Post {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}